/* Styled by : Joy Patel */



/* initialization */

body{
    padding: 0px;
    margin: 0px;
    background: url('../image/photo1.jpeg') no-repeat center center/cover;
    z-index: -2;
    height: 1000px;
}

/* section : Navigation */
#navbar
{
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -3;
    opacity: 0.2;

}
#navbar ul
{
    display: flex;
}
#navbar ul li
{
margin: 2px 20px;
list-style: none;
}
#navbar li a{
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 15px;
}
#navbar li a:hover{
    background-color: white;
    color: blue;
}

#logo
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
   
}
#logo h1{
    padding-left: 8px;
    color: gold;
}

#logo img
{
    width: 50px;
}

/* home section */

#home{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#about
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:800px;
}
#about h1
{
    font-size: 40px;
    color: orangered;
}
#about p
{
    font-family:cursive;
    font-size: 18px;
    color: indigo;

}


